DSL/AAA.yml
app:
  description: AAA - Telegram Bot via LangBot Service API
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: AAA
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.1.2@fcf107badccaf57948634ad2c557d393c3894138d83f4eb3f959e9a1d3a86512
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: edge-start-llm
      source: start-node
      sourceHandle: source
      target: llm-node-1
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: edge-llm-code
      source: llm-node-1
      sourceHandle: source
      target: code-node-1
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: edge-code-end
      source: code-node-1
      sourceHandle: source
      target: end-node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 接收來自 LangBot 的使用者訊息
        selected: false
        title: 開始
        type: start
        variables:
        - label: 使用者訊息
          max_length: 100000
          options: []
          required: true
          type: paragraph
          variable: query
      height: 137
      id: start-node
      position:
        x: -3.75
        y: 0
      positionAbsolute:
        x: -3.75
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - start-node
          - query
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-oss:20b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: system
          role: system
          text: '你是一個精簡的專業助理。
            ## 強制指令:
            1. 必須使用繁體中文回答。
            2. **嚴禁**輸出任何前言、開場白（例如：根據上下文、好的、We need to...）。
            3. **嚴禁**輸出 XML 或包裝標籤。
            4. **直接給出最終答案內容**。
            
            ## 參考資訊如下:
            <context>
            {{#context#}}
            </context>'
        selected: true
        title: LLM 回應
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: llm-node-1
      position:
        x: 320
        y: 0
      positionAbsolute:
        x: 320
        y: 0
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\ndef main(llm_text: str) -> dict:\n    cleaned = re.sub(r'<think>.*?</think>', '', llm_text, flags=re.DOTALL).strip()\n    return {\"cleaned_text\": cleaned}"
        code_language: python3
        desc: 移除 LLM 輸出中的 <think>...</think> 思維鏈標籤
        outputs:
          cleaned_text:
            children: null
            type: string
        selected: false
        title: 清理思維標籤
        type: code
        variables:
        - value_selector:
          - llm-node-1
          - text
          variable: llm_text
      height: 89
      id: code-node-1
      position:
        x: 640
        y: 0
      positionAbsolute:
        x: 640
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - code-node-1
          - cleaned_text
          value_type: string
          variable: summary
        selected: false
        title: 輸出
        type: end
      height: 89
      id: end-node
      position:
        x: 960
        y: 0
      positionAbsolute:
        x: 960
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 215.20000000000016
      y: 427.9
      zoom: 0.8
  rag_pipeline_variables: []
