DSL/AgentSkills.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: AgentSkills
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: lfenghx/skill_agent:0.0.3@faa24604d1d36cbc6f60dec81eda58564cf79d86dae1472097636ae4b9f017fb
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .zip
      - .ZIP
      - .py
      - .PY
      - .txt
      - .md
      allowed_file_types:
      - image
      - document
      - video
      - audio
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1773109150149-source-1773109187977-target
      source: '1773109150149'
      sourceHandle: source
      target: '1773109187977'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1773109187977-true-1773109278661-target
      source: '1773109187977'
      sourceHandle: 'true'
      target: '1773109278661'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1773109262341-source-17731093023930-target
      source: '1773109262341'
      sourceHandle: source
      target: '17731093023930'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1773109278661-source-17731092991160-target
      source: '1773109278661'
      sourceHandle: source
      target: '17731092991160'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1773109187977-false-1773109262341-target
      source: '1773109187977'
      sourceHandle: 'false'
      target: '1773109262341'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: true
        title: 開始
        type: start
        variables: []
      height: 72
      id: '1773109150149'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 4b09e233-5e69-4b7b-8339-10db0016dada
            value: 新增技能
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: 18370c5e-146c-40ab-93cb-80f4d395f807
            value: 刪除技能
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: e10f22f6-702d-43b8-a702-670c5fb2ce14
            value: 查看技能
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: 88a20fba-83f8-4935-98b2-c1645e239e5e
            value: 下載技能
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: lookup-skill-id
            value: 查詢技能
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: upload-id
            value: 上傳
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: create-skill-id
            value: 建立技能
            varType: string
            variable_selector:
            - sys
            - query
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: install-id
            value: 安裝
            varType: string
            variable_selector:
            - sys
            - query
          id: 'true'
          logical_operator: or
        selected: false
        title: 條件分支
        type: if-else
      height: 227
      id: '1773109187977'
      position:
        x: 349
        y: 274
      positionAbsolute:
        x: 349
        y: 274
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: please input your question
            ja_JP: クエリ文字列は、Skill_Agent に対して実行するタスクを指定する必要があります。
            pt_BR: please input your question
            zh_Hans: 请输入你想问的问题
          label:
            en_US: Query string
            ja_JP: クエリ文字列
            pt_BR: Query string
            zh_Hans: 查询语句
          llm_description: please input your question
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Upload file(s) for the agent to process.
            ja_JP: エージェントが処理するファイルをアップロードします
            pt_BR: Upload file(s) for the agent to process.
            zh_Hans: 上传文件，供 Agent 按技能说明书处理
          label:
            en_US: Files
            ja_JP: ファイル
            pt_BR: Files
            zh_Hans: 上传文件
          llm_description: Upload file(s) for the agent to process.
          max: null
          min: null
          name: files
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: files
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Select an LLM to run this tool.
            ja_JP: このツールを実行する LLM を選択します
            pt_BR: Select an LLM to run this tool.
            zh_Hans: 选择用于运行本工具的大模型
          label:
            en_US: Model
            ja_JP: モデル
            pt_BR: Model
            zh_Hans: 大模型
          llm_description: Select an LLM to run this tool.
          max: null
          min: null
          name: model
          options: []
          placeholder: null
          precision: null
          required: true
          scope: llm
          template: null
          type: model-selector
        - auto_generate: null
          default: 15
          form: form
          human_description:
            en_US: Max reasoning/tool steps inside one call.
            ja_JP: 1回の呼び出し内での最大ステップ数
            pt_BR: Max reasoning/tool steps inside one call.
            zh_Hans: 单次调用内部最多执行多少轮“思考/调用技能”
          label:
            en_US: Max steps
            ja_JP: 最大ステップ
            pt_BR: Max steps
            zh_Hans: 执行轮数
          llm_description: Max reasoning/tool steps inside one call.
          max: null
          min: null
          name: max_steps
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: 12
          form: form
          human_description:
            en_US: How many recent turns to keep during the run.
            ja_JP: 実行中に保持する直近ターン数
            pt_BR: How many recent turns to keep during the run.
            zh_Hans: 单次调用内部保留最近多少轮上下文
          label:
            en_US: Memory turns
            ja_JP: メモリターン
            pt_BR: Memory turns
            zh_Hans: 单轮窗口
          llm_description: How many recent turns to keep during the run.
          max: null
          min: null
          name: memory_turns
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: 3
          form: form
          human_description:
            en_US: How many previous runs to inject as raw transcript.
            ja_JP: 以前の実行から挿入する原文のターン数
            pt_BR: How many previous runs to inject as raw transcript.
            zh_Hans: 跨回合注入最近多少轮原文对话（0 表示不注入）
          label:
            en_US: History turns
            ja_JP: 履歴ターン
            pt_BR: History turns
            zh_Hans: 记忆窗口
          llm_description: Inject previous turns as raw transcript for continuity.
          max: null
          min: null
          name: history_turns
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          files: ''
          history_turns: ''
          max_steps: ''
          memory_turns: ''
          model: ''
          query: ''
        plugin_id: lfenghx/skill_agent
        plugin_unique_identifier: lfenghx/skill_agent:0.0.3@faa24604d1d36cbc6f60dec81eda58564cf79d86dae1472097636ae4b9f017fb
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=05b67736-3e50-4ced-8168-80258cc76b05&filename=93e635e707d0f9631baf46e983129f60beaf841f07fe3fdea136ba8dd553b645.svg
        provider_id: lfenghx/skill_agent/skill_agent
        provider_name: lfenghx/skill_agent/skill_agent
        provider_type: builtin
        selected: false
        title: Skill_Agent
        tool_configurations:
          history_turns:
            type: constant
            value: 3
          max_steps:
            type: constant
            value: 15
          memory_turns:
            type: constant
            value: 12
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: minimax-m2.5:cloud
              model_type: llm
              provider: langgenius/ollama/ollama
        tool_description: Skill_Agent is an Agent plugin that can execute tasks based
          on the Skill progressive disclosure mode.
        tool_label: Skill_Agent
        tool_name: skill_agent
        tool_node_version: '2'
        tool_parameters:
          files:
            type: constant
            value: null
          query:
            type: mixed
            value: null
        type: tool
      height: 165
      id: '1773109262341'
      position:
        x: 666
        y: 619
      positionAbsolute:
        x: 666
        y: 619
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'supported commands: add, delete, list, download'
            ja_JP: ローカルのスキルパッケージを管理（追加/削除/表示/ダウンロード）
            pt_BR: Gerenciar pacotes de habilidades locais (adicionar/remover/visualizar/baixar).
            zh_Hans: 支持：查看技能、新增技能、删除技能N、下载技能N
          label:
            en_US: Command
            ja_JP: コマンド
            pt_BR: Command
            zh_Hans: 命令
          llm_description: 'supported commands: add, delete, list, download'
          max: null
          min: null
          name: command
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Zip package(s) for add command.
            ja_JP: 新增技能 用の zip
            pt_BR: Zip package(s) for add command.
            zh_Hans: 新增技能时上传 zip 压缩包
          label:
            en_US: Zip files
            ja_JP: Zipファイル
            pt_BR: Zip files
            zh_Hans: Zip压缩包
          llm_description: Zip package(s) for add command
          max: null
          min: null
          name: files
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: files
        params:
          command: ''
          files: ''
        plugin_id: lfenghx/skill_agent
        plugin_unique_identifier: lfenghx/skill_agent:0.0.3@faa24604d1d36cbc6f60dec81eda58564cf79d86dae1472097636ae4b9f017fb
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=05b67736-3e50-4ced-8168-80258cc76b05&filename=93e635e707d0f9631baf46e983129f60beaf841f07fe3fdea136ba8dd553b645.svg
        provider_id: lfenghx/skill_agent/skill_agent
        provider_name: lfenghx/skill_agent/skill_agent
        provider_type: builtin
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: skill manager
        tool_configurations:
          files:
            type: constant
            value: null
        tool_description: Manage local skill packages (add/delete/list/download).
        tool_label: skill manager
        tool_name: tm
        tool_node_version: '2'
        tool_parameters:
          command:
            type: mixed
            value: '{{#sys.query#}}'
          files:
            type: mixed
            value: '{{#sys.files#}}'
        type: tool
      height: 117
      id: '1773109278661'
      position:
        x: 724
        y: 259
      positionAbsolute:
        x: 724
        y: 259
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1773109278661.text#}}'
        selected: false
        title: 技能管理回復
        type: answer
        variables: []
      height: 102
      id: '17731092991160'
      position:
        x: 1013
        y: 355
      positionAbsolute:
        x: 1013
        y: 355
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1773109262341.text#}}'
        selected: false
        title: 智能體回復
        type: answer
        variables: []
      height: 102
      id: '17731093023930'
      position:
        x: 1019
        y: 551
      positionAbsolute:
        x: 1019
        y: 551
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 76
      y: -163.5
      zoom: 1
  rag_pipeline_variables: []
