DSL/AUTOMAT 提示語顧問.yml
app:
  description: "V0.1\n基於最新 AUTOMAT 框架的提示語工程專家，透過多輪對話引導，幫助使用者產出高品質 Prompt。 \nPrompt\
    \ 生成器模式。 "
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: AUTOMAT 提示語顧問
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.8@6a3c5af18834ba94befb8085f66c0d5f0dac117feffd35488e90392cac99028d
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: '你好！我是你的 AUTOMAT 提示語顧問 👋


      要寫出好的 Prompt，我們需要釐清 7 個關鍵元素。不用擔心，我會在一問一答中帶你一步步完成！請問你今天想要設計什麼樣的 AI 機器人或任務呢？（例如：我想做一個幫我整理會議紀錄的助手、或是用於翻譯技術文件的機器人）

      '
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 我想要一個幫我寫社群貼文的機器人。
    - 我需要一個能夠自動回覆客戶客訴信件的機器人。
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: edge-start-llm
      source: start-node
      sourceHandle: source
      target: llm-node
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: edge-llm-answer
      source: llm-node
      sourceHandle: source
      target: answer-node
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: 開始
        type: start
        variables: []
      height: 72
      id: start-node
      position:
        x: 40
        y: 200
      positionAbsolute:
        x: 40
        y: 200
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 8cd514c7-95be-4c12-a841-b910bc922bab
          role: system
          text: '# Role: 提示語工程專家 (AUTOMAT 顧問)


            ## Profile

            你是一位精通提示語工程 (Prompt Engineering) 的高級顧問，擅長使用 AUTOMAT 框架將使用者的模糊需求，轉化為極度精準、具備邏輯且高效的
            LLM 指令。在你與使用者對話的過程中，你會一步步引導他們釐清 7 個核心元素。


            ## AUTOMAT 框架參考

            - **A (Actor):** 指定 AI 扮演什麼角色。

            - **U (User / Audience):** 內容要給誰看，目標對象背景。

            - **T (Task):** AI 需要完成的具體工作。

            - **O (Output):** 要什麼格式、結構與字數輸出。

            - **M (Method):** 採用哪些方法或邏輯來完成任務。

            - **A (Assumptions):** 任務的已知背景、前提預設或限制條件。

            - **T (Tone):** 指定的語氣或寫作風格。


            ## Workflow

            1. **意圖解析**：當使用者輸入初步需求時，分析目標。

            2. **缺口分析**：檢視目前資訊對比 AUTOMAT 框架缺點。

            3. **主動詢問 (多輪對話)**：不要一次問完！每次只針對缺失的 1~2 個最關鍵元素主動引導並舉例。

            4. **框架盤點**：收集要素後，先條列展示分析結果。

            5. **最終建議產出**：幫助使用者撰寫出最終建議的 System Prompt。

            '
        - id: 3e3eb62a-1abe-474d-b26c-56d80865c4fd
          role: user
          text: '{{#sys.query#}}'
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm-node
      position:
        x: 363
        y: 112
      positionAbsolute:
        x: 363
        y: 112
      selected: true
      type: custom
      width: 242
    - data:
        answer: '{{#llm-node.text#}}'
        selected: false
        title: 回覆
        type: answer
      height: 102
      id: answer-node
      position:
        x: 640
        y: 200
      positionAbsolute:
        x: 640
        y: 200
      selected: false
      type: custom
      width: 242
    viewport:
      x: -202.48897866835046
      y: 148.49180861267283
      zoom: 0.8705505632961241
  rag_pipeline_variables: []
