DSL/chat_test.yml
app:
  description: 'Discord 回答範例 - Chatflow 版本 V0.1'
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: dify_chat_test
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.1.2@fcf107badccaf57948634ad2c557d393c3894138d83f4eb3f959e9a1d3a86512
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: '你好！我是精簡的專業助理，有什麼可以幫助你的嗎？'
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: edge_start_llm
      source: start_node
      sourceHandle: source
      target: llm_node_1
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: edge_llm_code
      source: llm_node_1
      sourceHandle: source
      target: code_node_1
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: edge_code_answer
      source: code_node_1
      sourceHandle: source
      target: answer_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Chatflow 入口，使用者訊息透過 sys.query 傳入
        selected: false
        title: 開始
        type: start
        variables: []
      height: 116
      id: start_node
      position:
        x: 112.0
        y: 345.0
      positionAbsolute:
        x: 112.0
        y: 345.0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          enabled: true
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-oss:20b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: system
          role: system
          text: '你是一個精簡的專業助理。 ## 強制指令: 1. 必須使用繁體中文回答。 2. **嚴禁**輸出任何前言、開場白（例如：根據上下文、好的、We
            need to...）。 3. **嚴禁**輸出 XML 或包裝標籤。 4. **直接給出最終答案內容**。'
        - id: user-query
          role: user
          text: "{{#sys.query#}}"
        reasoning_format: tagged
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1000
        selected: false
        title: LLM 回應
        type: llm
        variables: []
        vision:
          enabled: false
      height: 93
      id: llm_node_1
      position:
        x: 400.0
        y: 300.0
      positionAbsolute:
        x: 400.0
        y: 300.0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\ndef main(llm_text: str) -> dict:\n    cleaned = re.sub(r'<think>.*?</think>',\
          \ '', llm_text, flags=re.DOTALL).strip()\n    return {\"cleaned_text\":\
          \ cleaned}"
        code_language: python3
        desc: 移除 LLM 輸出中的 <think>...</think> 思維鏈標籤
        outputs:
          cleaned_text:
            children: null
            type: string
        selected: false
        title: 清理思維標籤
        type: code
        variables:
        - value_selector:
          - llm_node_1
          - text
          variable: llm_text
      height: 95
      id: code_node_1
      position:
        x: 700.0
        y: 300.0
      positionAbsolute:
        x: 700.0
        y: 300.0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: "{{#code_node_1.cleaned_text#}}"
        desc: 將清理後的文字輸出至對話回覆
        selected: false
        title: 回覆
        type: answer
        variables: []
      height: 88
      id: answer_node
      position:
        x: 1000.0
        y: 300.0
      positionAbsolute:
        x: 1000.0
        y: 300.0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 30.0
      y: 240.0
      zoom: 0.65
  rag_pipeline_variables: []
