DSL/discord_chatbot_v0.1.yml
app:
  description: 標準的 Dify Chatbot (由 Discord 觸發回覆) V0.1
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Discord AI 助理
  use_icon_as_answer_icon: false
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - id: start-to-llm
      source: start
      target: llm_node
      sourceHandle: source
      targetHandle: target
    - id: llm-to-answer
      source: llm_node
      target: answer_node
      sourceHandle: source
      targetHandle: target
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables: []
      height: 54
      id: start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: google
        prompt_template:
        - id: system-prompt
          role: system
          text: 你是一個友善、專業的 AI 助理。請針對使用者的問題給予簡明扼要、有幫助的回覆。
        - id: user-prompt
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: AI 大腦 (LLM)
        type: llm
        variables: []
      height: 98
      id: llm_node
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm_node.text#}}'
        desc: ''
        selected: false
        title: 輸出回覆
        type: answer
        variables: []
      height: 103
      id: answer_node
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
