DSL/Line 多選項連動助理.yml
app:
  description: 'app-zlhjjsO2ysUh3sSe2jIrxNqb

    串接 LINE Messaging API 範例，透過分類器決定按鈕回覆 V0.1'
  icon: 🤖
  icon_background: '#DEFFEE'
  mode: advanced-chat
  name: Line 多選項連動助理
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: LINE Channel Access Token
    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
    name: LINE_CHANNEL_ACCESS_TOKEN
    selector:
    - env
    - LINE_CHANNEL_ACCESS_TOKEN
    value: xv7a1j7jR8o22tgsLvOYfVwEhsKo2N29ru7zHDAUUKLih21/zHB/nZqzbQ+VG54teKPFypCmZmHi0MpP34A8Xma0Hc1pwkGAzGtGs1YVjYhU2672ScJt0mObFXMJxae5ZIkC8fGByIkMyMY6853k9QdB04t89/1O/w1cDnyilFU=
    value_type: secret
  - description: 目標 LINE 使用者 ID（接收訊息的 userId）
    id: b2c3d4e5-f6a7-8901-bcde-f12345678901
    name: LINE_USER_ID
    selector:
    - env
    - LINE_USER_ID
    value: Uc83af6e58fd43c6da36a9285435a82e0
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: edge-1
      source: start
      sourceHandle: source
      target: if_classifier
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: http-request
      id: edge-a
      source: if_classifier
      sourceHandle: case_1
      target: http_a
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: http-request
      id: edge-b
      source: if_classifier
      sourceHandle: case_2
      target: http_b
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: http-request
      id: edge-c
      source: if_classifier
      sourceHandle: case_3
      target: http_c
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: answer
      id: edge-a-ans
      source: http_a
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: answer
      id: edge-b-ans
      source: http_b
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: answer
      id: edge-c-ans
      source: http_c
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: if_classifier-false-1775805376466-target
      source: if_classifier
      sourceHandle: 'false'
      target: '1775805376466'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1775805376466-source-code_clean_answer-target
      source: '1775805376466'
      sourceHandle: source
      target: code_clean_answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: edge-code-clean-to-answer
      source: code_clean_answer
      sourceHandle: source
      target: '1775803640305'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        code: |
          import json
          import re
          
          def main(llm_text: str) -> dict:
              try:
                  parsed = json.loads(llm_text)
                  if "answer" in parsed:
                      ans_str = parsed["answer"]
                      try:
                          inner = json.loads(ans_str)
                          content = inner.get("summary", ans_str)
                      except Exception:
                          content = ans_str
                  else:
                      content = parsed.get("summary", llm_text)
              except Exception:
                  content = llm_text
              
              cleaned = re.sub(r'<think>.*?</think>', '', content, flags=re.DOTALL).strip()
              return {"cleaned_text": cleaned}
        code_language: python3
        desc: 擷取資訊並移除 think 標籤
        outputs:
          cleaned_text:
            children: null
            type: string
        selected: false
        title: 處理回覆資訊
        type: code
        variables:
        - value_selector:
          - '1775805376466'
          - text
          variable: llm_text
      height: 96
      id: code_clean_answer
      position:
        x: 950
        y: 680
      positionAbsolute:
        x: 950
        y: 680
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        title: 開始
        type: start
        variables: []
      height: 73
      id: start
      position:
        x: 80
        y: 300
      positionAbsolute:
        x: 80
        y: 300
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: case_1
          conditions:
          - comparison_operator: contains
            id: cond_a
            value: A
            varType: string
            variable_selector:
            - sys
            - query
          id: case_1
          logical_operator: and
        - case_id: case_2
          conditions:
          - comparison_operator: contains
            id: cond_b
            value: B
            varType: string
            variable_selector:
            - sys
            - query
          id: case_2
          logical_operator: and
        - case_id: case_3
          conditions:
          - comparison_operator: contains
            id: cond_c
            value: C
            varType: string
            variable_selector:
            - sys
            - query
          id: case_3
          logical_operator: and
        selected: false
        title: 條件判斷 (分類器)
        type: if-else
      height: 220
      id: if_classifier
      position:
        x: 350
        y: 300
      positionAbsolute:
        x: 350
        y: 300
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{"to": "{{#env.LINE_USER_ID#}}","messages": [{"type": "flex","altText":
              "A選項清單","contents": {"type": "bubble","body": {"type": "box","layout":
              "vertical","contents": [{"type": "text","text": "收到分類 A：{{#sys.query#}}","weight":
              "bold","color": "#000000","wrap": true},{"type": "separator","margin":
              "md"}]},"footer": {"type": "box","layout": "horizontal","spacing": "sm","contents":
              [{"type": "button","style": "primary","color": "#1E90FF","height":"sm","action":
              {"type": "message","label": "A123","text": "A123"}},{"type": "button","style":
              "primary","color": "#32CD32","height":"sm","action": {"type": "message","label":
              "A456","text": "A456"}},{"type": "button","style": "primary","color":
              "#FF4500","height":"sm","action": {"type": "message","label": "A789","text":
              "A789"}}]}}}]}'
          type: raw-text
        headers: 'Authorization:Bearer {{#env.LINE_CHANNEL_ACCESS_TOKEN#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          connect: 5
          max_execution_time: 20
          read: 20
          write: 20
        title: 發送 A 按鈕
        type: http-request
        url: https://api.line.me/v2/bot/message/push
        variables: []
      height: 138
      id: http_a
      position:
        x: 650
        y: 100
      positionAbsolute:
        x: 650
        y: 100
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{"to": "{{#env.LINE_USER_ID#}}","messages": [{"type": "flex","altText":
              "B選項清單","contents": {"type": "bubble","body": {"type": "box","layout":
              "vertical","contents": [{"type": "text","text": "收到分類 B：{{#sys.query#}}","weight":
              "bold","color": "#000000","wrap": true},{"type": "separator","margin":
              "md"}]},"footer": {"type": "box","layout": "horizontal","spacing": "sm","contents":
              [{"type": "button","style": "primary","color": "#1E90FF","height":"sm","action":
              {"type": "message","label": "B123","text": "B123"}},{"type": "button","style":
              "primary","color": "#32CD32","height":"sm","action": {"type": "message","label":
              "B456","text": "B456"}},{"type": "button","style": "primary","color":
              "#FF4500","height":"sm","action": {"type": "message","label": "B789","text":
              "B789"}}]}}}]}'
          type: raw-text
        headers: 'Authorization:Bearer {{#env.LINE_CHANNEL_ACCESS_TOKEN#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          connect: 5
          max_execution_time: 20
          read: 20
          write: 20
        title: 發送 B 按鈕
        type: http-request
        url: https://api.line.me/v2/bot/message/push
        variables: []
      height: 138
      id: http_b
      position:
        x: 650
        y: 250
      positionAbsolute:
        x: 650
        y: 250
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{"to": "{{#env.LINE_USER_ID#}}","messages": [{"type": "flex","altText":
              "C選項清單","contents": {"type": "bubble","body": {"type": "box","layout":
              "vertical","contents": [{"type": "text","text": "收到分類 C：{{#sys.query#}}","weight":
              "bold","color": "#000000","wrap": true},{"type": "separator","margin":
              "md"}]},"footer": {"type": "box","layout": "horizontal","spacing": "sm","contents":
              [{"type": "button","style": "primary","color": "#1E90FF","height":"sm","action":
              {"type": "message","label": "C123","text": "C123"}},{"type": "button","style":
              "primary","color": "#32CD32","height":"sm","action": {"type": "message","label":
              "C456","text": "C456"}},{"type": "button","style": "primary","color":
              "#FF4500","height":"sm","action": {"type": "message","label": "C789","text":
              "C789"}}]}}}]}'
          type: raw-text
        headers: 'Authorization:Bearer {{#env.LINE_CHANNEL_ACCESS_TOKEN#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 5
          max_execution_time: 20
          read: 20
          write: 20
        title: 發送 C 按鈕
        type: http-request
        url: https://api.line.me/v2/bot/message/push
        variables: []
      height: 138
      id: http_c
      position:
        x: 650
        y: 400
      positionAbsolute:
        x: 650
        y: 400
      selected: false
      type: custom
      width: 242
    - data:
        answer: ' '
        selected: false
        title: 回覆 OK
        type: answer
        variables: []
      height: 116
      id: answer
      position:
        x: 1222.270040484848
        y: 272.232282768484
      positionAbsolute:
        x: 1222.270040484848
        y: 272.232282768484
      selected: true
      type: custom
      width: 242
    - data:
        answer: '{{#code_clean_answer.cleaned_text#}}'
        selected: false
        title: 直接回覆 2
        type: answer
        variables: []
      height: 103
      id: '1775803640305'
      position:
        x: 1210.033262396131
        y: 631.4852813742388
      positionAbsolute:
        x: 1210.033262396131
        y: 631.4852813742388
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: 使用者訊息
            ja_JP: 使用者訊息
            pt_BR: 使用者訊息
            zh_Hans: 使用者訊息
          llm_description: ''
          max: null
          min: null
          name: query
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          query: ''
        plugin_id: null
        plugin_unique_identifier: null
        provider_icon:
          background: '#FFEAD5'
          content: 🤖
        provider_id: a1e4b705-75ed-445f-905f-0ea4549c11c0
        provider_name: (W)回答範例
        provider_type: workflow
        selected: false
        title: (W)回答範例
        tool_configurations: {}
        tool_description: 'app-wN0JfZROuXA5DClC4T8kpaLI

          Telegram/discord  Bot via LangBot Service API'
        tool_label: (W)回答範例
        tool_name: WorkflowTools2
        tool_node_version: '2'
        tool_parameters:
          query:
            type: mixed
            value: '{{#sys.query#}}'
        type: tool
      height: 52
      id: '1775805376466'
      position:
        x: 681.6009383392768
        y: 731.8944443027284
      positionAbsolute:
        x: 681.6009383392768
        y: 731.8944443027284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -354.7296480374241
      y: -29.126745374939787
      zoom: 0.8408964152537143
  rag_pipeline_variables: []
