DSL/ollama_healthcheck_telegram.yml
app:
  description: Ollama 狀態檢查機器人（Telegram 版）。當 Ollama API 連線失敗時，透過 @porter_telegram_bot 推送 HTML 格式的美觀告警至指定聊天室。整理人：Antigravity AI & Porter
  icon: "\U0001F4E4"
  icon_background: '#FFEAD5'
  mode: workflow
  name: Ollama Health Check (Telegram)
  use_icon_as_answer_icon: false
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
  graph:
    edges:
    - data: {isInIteration: false, sourceType: start, targetType: http-request}
      id: edge-1
      source: start
      sourceHandle: source
      target: http_test
      targetHandle: target
      type: custom
    - data: {isInIteration: false, sourceType: http-request, targetType: if-else}
      id: edge-2
      source: http_test
      sourceHandle: source
      target: check_status
      targetHandle: target
      type: custom
    - data: {isInIteration: false, sourceType: if-else, targetType: end}
      id: edge-3
      source: check_status
      sourceHandle: 'true'
      target: end_success
      targetHandle: target
      type: custom
    - data: {isInIteration: false, sourceType: if-else, targetType: code}
      id: edge-to-code
      source: check_status
      sourceHandle: 'false'
      target: time_formatter
      targetHandle: target
      type: custom
    - data: {isInIteration: false, sourceType: code, targetType: http-request}
      id: edge-code-to-telegram
      source: time_formatter
      sourceHandle: source
      target: http_telegram_alert
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: 手動觸發監控
        selected: false
        title: 開始
        type: start
        variables: []
      height: 54
      id: start
      position: {x: 80, y: 280}
      positionAbsolute: {x: 80, y: 280}
      type: custom
      width: 244
    - data:
        authorization: {config: null, type: no-auth}
        body: {data: '', type: none}
        desc: 測試 Ollama API 連線
        headers: ''
        method: get
        params: ''
        timeout: {connect: 10, max_execution_time: 30, read: 20}
        retry_config: {max_retries: 1, retry_enabled: true}
        selected: false
        title: HTTP 測試
        type: http-request
        url: http://gyro1.ddns.net:11434/api/tags
        variables: []
      height: 90
      id: http_test
      position: {x: 350, y: 280}
      positionAbsolute: {x: 350, y: 280}
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: cond_success
            value: '200'
            varType: number
            variable_selector: [http_test, status_code]
          id: case_success
          logical_operator: and
        desc: 檢查狀態碼
        selected: false
        title: 狀態檢查
        type: if-else
      height: 102
      id: check_status
      position: {x: 650, y: 280}
      positionAbsolute: {x: 650, y: 280}
      type: custom
      width: 244
    - data:
        desc: 連線正常
        outputs:
        - value_selector: [http_test, body]
          variable: message
        selected: false
        title: SUCCESS
        type: end
      height: 90
      id: end_success
      position: {x: 1250, y: 180}
      positionAbsolute: {x: 1250, y: 180}
      type: custom
      width: 244
    - data:
        code: "import time\nfrom datetime import datetime, timezone, timedelta\n\ndef main(timestamp_ms):\n    try:\n        ms = int(timestamp_ms) if timestamp_ms is not None else int(time.time() * 1000)\n    except:\n        ms = int(time.time() * 1000)\n    \n    # Convert to Taipei Time (UTC+8)\n    dt = datetime.fromtimestamp(ms / 1000, tz=timezone(timedelta(hours=8)))\n    time_str = dt.strftime(\"%Y-%m-%d %H:%M:%S\")\n    \n    return {\n        \"formatted_time\": time_str\n    }"
        code_language: python3
        desc: 格式化為本地時間字串
        outputs:
          formatted_time: {type: string}
        selected: false
        title: 時間計算 (台北)
        type: code
        variables:
        - value_selector: [sys, query_timestamp]
          variable: timestamp_ms
      height: 54
      id: time_formatter
      position: {x: 950, y: 380}
      positionAbsolute: {x: 950, y: 380}
      type: custom
      width: 244
    - data:
        authorization: {config: null, type: no-auth}
        body:
          data: "{\n  \"chat_id\": \"8226231440\",\n  \"text\": \"\u26A0\uFE0F <b>Ollama \u72C0\u614B\u544A\u8B66</b>\\n\\n\u6AA2\u67E5\u5230\u9060\u7AEF Ollama API \u7121\u6CD5\u6B63\u5E38連線\uFF0C\u53EF\u80FD\u5C0E\u81F4\u77E5\u8B58\u5EAB\u7121\u6CD5\u4F7F\u7528\u3002\\n\\n\u23F3 <b>\u72C0\u614B碼</b>: <code>{{#http_test.status_code#}}</code>\\n\uD83D\uDCCC <b>API \u4F4D\u5740</b>: <code>http://gyro1.ddns.net:11434</code>\\n\uD83D\uDD0D <b>\u5075測\u6642\u9593</b>: <code>{{#time_formatter.formatted_time#}}</code>\",\n  \"parse_mode\": \"HTML\"\n}"
          type: json
        desc: 推送至 Telegram 聊天室
        headers: "Content-Type: application/json"
        method: post
        params: ''
        timeout: {connect: 10, max_execution_time: 30, read: 20}
        retry_config: {max_retries: 1, retry_enabled: true}
        selected: false
        title: Telegram 告警
        type: http-request
        url: "https://api.telegram.org/botYOUR_TELEGRAM_TOKEN/sendMessage"
        variables: []
      height: 90
      id: http_telegram_alert
      position: {x: 1250, y: 380}
      positionAbsolute: {x: 1250, y: 380}
      type: custom
      width: 244
  viewport: {x: 0, y: 0, zoom: 1}
