DSL/skill_flow.yml
app:
  description: "Skill Workflow"
  icon: "🤖"
  icon_background: "#FFEAD5"
  mode: workflow
  name: "skill_flow"
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: lfenghx/skill_agent:0.0.3@faa24604d1d36cbc6f60dec81eda58564cf79d86dae1472097636ae4b9f017fb
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: edge-start-cond
      source: start
      sourceHandle: source
      target: condition
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: edge-cond-skill
      source: condition
      sourceHandle: 'true'
      target: skill_mgmt
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: edge-cond-agent
      source: condition
      sourceHandle: 'false'
      target: skill_agent
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - label: Type
          max_length: 256
          name: Type
          required: true
          type: text-input
        - label: Files
          name: FILES
          required: false
          type: file
      height: 100
      id: start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: cond-1
            value: 技能管理
            varType: string
            variable_selector:
            - start
            - Type
          logical_operator: and
        - case_id: 'false'
          conditions:
          - comparison_operator: contains
            id: cond-2
            value: Skill智能体
            varType: string
            variable_selector:
            - start
            - Type
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 150
      id: condition
      position:
        x: 410
        y: 297
      positionAbsolute:
        x: 410
        y: 297
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            zh_Hans: 支持：查看技能、新增技能、删除技能N、下载技能N
          label:
            zh_Hans: 命令
          llm_description: 'supported commands: add, delete, list, download'
          name: command
          required: true
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            zh_Hans: 新增技能时上传 zip 压缩包
          label:
            zh_Hans: Zip压缩包
          name: files
          required: false
          type: files
        params:
          command: '{{#start.Type#}}'
          files: '{{#start.FILES#}}'
        plugin_id: lfenghx/skill_agent
        plugin_unique_identifier: lfenghx/skill_agent:0.0.3@faa24604d1d36cbc6f60dec81eda58564cf79d86dae1472097636ae4b9f017fb
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=05b67736-3e50-4ced-8168-80258cc76b05&filename=93e635e707d0f9631baf46e983129f60beaf841f07fe3fdea136ba8dd553b645.svg
        provider_id: lfenghx/skill_agent/skill_agent
        provider_name: lfenghx/skill_agent/skill_agent
        provider_type: builtin
        selected: false
        title: 技能管理
        tool_configurations:
          files:
            type: mixed
            value: null
        tool_description: Manage local skill packages (add/delete/list/download).
        tool_label: skill manager
        tool_name: tm
        tool_node_version: '2'
        tool_parameters:
          command:
            type: mixed
            value: null
        type: tool
      height: 88
      id: skill_mgmt
      position:
        x: 727
        y: 382
      positionAbsolute:
        x: 727
        y: 382
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            zh_Hans: 请输入你想问的问题
          label:
            zh_Hans: 查询语句
          name: query
          required: true
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            zh_Hans: 上传文件，供 Agent 按技能说明书处理
          label:
            zh_Hans: 上传文件
          name: files
          required: false
          type: files
        - auto_generate: null
          default: null
          form: form
          human_description:
            zh_Hans: 选择用于运行本工具的大模型
          label:
            zh_Hans: 大模型
          name: model
          required: true
          scope: llm
          type: model-selector
        - auto_generate: null
          default: 15
          form: form
          label:
            zh_Hans: 执行轮数
          name: max_steps
          required: true
          type: number
        - auto_generate: null
          default: 12
          form: form
          label:
            zh_Hans: 单轮窗口
          name: memory_turns
          required: true
          type: number
        - auto_generate: null
          default: 3
          form: form
          label:
            zh_Hans: 记忆窗口
          name: history_turns
          required: true
          type: number
        params:
          files: '{{#start.FILES#}}'
          history_turns: ''
          max_steps: ''
          memory_turns: ''
          model: ''
          query: '{{#start.Type#}}'
        plugin_id: lfenghx/skill_agent
        plugin_unique_identifier: lfenghx/skill_agent:0.0.3@faa24604d1d36cbc6f60dec81eda58564cf79d86dae1472097636ae4b9f017fb
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=05b67736-3e50-4ced-8168-80258cc76b05&filename=93e635e707d0f9631baf46e983129f60beaf841f07fe3fdea136ba8dd553b645.svg
        provider_id: lfenghx/skill_agent/skill_agent
        provider_name: lfenghx/skill_agent/skill_agent
        provider_type: builtin
        selected: false
        title: SKILL_AGENT
        tool_configurations:
          history_turns:
            type: constant
            value: 3
          max_steps:
            type: constant
            value: 12
          memory_turns:
            type: constant
            value: 10
          model:
            type: constant
            value: null
        tool_description: Skill_Agent is an Agent plugin that can execute tasks based
          on the Skill progressive disclosure mode.
        tool_label: Skill_Agent
        tool_name: skill_agent
        tool_node_version: '2'
        tool_parameters:
          files:
            type: mixed
            value: null
          query:
            type: mixed
            value: null
        type: tool
      height: 166
      id: skill_agent
      position:
        x: 727
        y: 177
      positionAbsolute:
        x: 727
        y: 177
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
