DSL/tsc 機器人(自動追蹤) (1).yml
app:
  description: 'TSC 交通管理專家問答機器人（知識庫檢索+術語定義 ）

    Au, 王俊,沈佳楓,韓鄒, 张俊贤, 齊宏洋,Mike V0.2'
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: tsc 機器人(自動追蹤)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.1.2@fcf107badccaf57948634ad2c557d393c3894138d83f4eb3f959e9a1d3a86512
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: '歡迎使用 TSC 交管問答機器人！

      我可以回答關於廠區交管邏輯、堵車處理、會車衝突等問題。

      感謝:Au, 王俊,沈佳楓,韓鄒, 张俊贤, 齊宏洋,Mike 資料整理!


      📌 範例問題：

      - 什麼是 TSC 交管？

      - 繞路的前提是什麼？

      - 如果前車故障不動，堵車能解除嗎？

      - 兩台車要同時進電梯怎麼辦？'
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 什麼是 TSC 交管？
    - 繞路的前提是什麼？
    - 如果前車故障不動，堵車能解除嗎？
    - 兩台車要同時進電梯怎麼辦？
    - 避讓點的選擇條件有哪些？
    - Group 的目的為何？
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 9002000000001-source-9002000000002-target
      source: '9002000000001'
      sourceHandle: source
      target: '9002000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 9002000000002-source-true-9002000000003-target
      source: '9002000000002'
      sourceHandle: 'true'
      target: '9002000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 9002000000002-source-false-1771991226336-target
      source: '9002000000002'
      sourceHandle: 'false'
      target: '1771991226336'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: if-else
      id: 1771991226336-source-9001000000001-target
      source: '1771991226336'
      sourceHandle: source
      target: '9001000000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 9001000000001-source-true-9001000000002-target
      source: '9001000000001'
      sourceHandle: 'true'
      target: '9001000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 9001000000001-source-false-1711528917469-target
      source: '9001000000001'
      sourceHandle: 'false'
      target: '1711528917469'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1711528917469-source-1711528919501-target
      source: '1711528917469'
      sourceHandle: source
      target: '1711528919501'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1711528914102-source-1774096625892-target
      source: '1711528914102'
      sourceHandle: source
      target: '1774096625892'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1774096625892-source-1774096667339-target
      source: '1774096625892'
      sourceHandle: source
      target: '1774096667339'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1774096667339-source-9002000000001-target
      source: '1774096667339'
      sourceHandle: source
      target: '9002000000001'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - default: '{ "type": "login", "data": { "user_id": "A123", "username": "porter",
            "user": "porter", "role": "admin", "department": "IT", "computer_name":
            "PC-001" } }'
          hide: true
          hint: ''
          label: query
          max_length: 256
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: query
      height: 108
      id: '1711528914102'
      position:
        x: -236.17366491630693
        y: 141.60808101421338
      positionAbsolute:
        x: -236.17366491630693
        y: 141.60808101421338
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 判斷使用者是否詢問程式碼相關問題（如語法、debug、程式邏輯等）
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 0
        model:
          completion_params:
            temperature: 0
            top_p: 1
          mode: chat
          name: gpt-oss:20b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: code_check_system
          role: system
          text: '你是一個問題分類器，你的唯一任務是判斷使用者的問題是否屬於「程式碼問題」。

            「程式碼問題」的定義：User提及程式碼撰寫、python的問題。

            判斷規則： - 如果使用者的問題屬於「程式碼問題」，你只能回答：YES - 如果使用者的問題不屬於「程式碼問題」，你只能回答：NO - 不需要任何解釋，只回答
            YES 或 NO，不得有其他文字。'
        - id: code_check_user
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: 判斷是否為程式碼問題
        type: llm
        variables: []
        vision:
          enabled: false
      height: 131
      id: '9002000000001'
      position:
        x: 907
        y: 300
      positionAbsolute:
        x: 907
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: cond-code-check
            value: 'YES'
            variable_selector:
            - '9002000000001'
            - text
          id: 'true'
          logical_operator: and
        desc: 判斷分類 LLM 回傳是否為 YES（程式碼問題）：YES → 拒絕回覆，NO → 繼續知識庫檢索
        selected: false
        title: 是否為程式碼問題？
        type: if-else
      height: 183
      id: '9002000000002'
      position:
        x: 1214
        y: 300
      positionAbsolute:
        x: 1214
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '感謝您的提問！🙏

          目前本機器人**僅針對 TSC 路權與交管相關問題**提供解答，暫不支援程式碼問題的回覆。


          📌 **本機器人可以協助您解答：**

          - TSC 交管邏輯與流程

          - 通行權、待命區、關鍵區域的運作方式

          - 堵車、會車、繞路等情境的處理方式


          💡 **程式碼問答機器人**正在規劃開發中，敬請期待！

          如有其他交管相關問題，歡迎繼續提問 😊'
        desc: 使用者詢問程式碼問題時，直接拒絕並說明範疇
        selected: false
        title: 程式碼問題拒絕回覆
        type: answer
        variables: []
      height: 287
      id: '9002000000003'
      position:
        x: 1992.7594547244478
        y: -14.773732960139
      positionAbsolute:
        x: 1992.7594547244478
        y: -14.773732960139
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 35LnBEYnzdCxlupI5jtcGFuGgSazocuLGK85UM+RjO+fNc/WeKIFCL3z2SPRixav
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: 0.43
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: qwen3-embedding-4b-q4_k_m:latest
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 檢索_tsc_交管資料
        type: knowledge-retrieval
      height: 89
      id: '1771991226336'
      position:
        x: 1520
        y: 300
      positionAbsolute:
        x: 1520
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: cond-result-empty
            value: ''
            variable_selector:
            - '1771991226336'
            - result
          id: 'true'
          logical_operator: and
        desc: 判斷知識庫檢索結果是否為空：空 → 直接回覆找不到，不為空 → 進 LLM
        selected: false
        title: 檢索結果是否為空？
        type: if-else
      height: 167
      id: '9001000000001'
      position:
        x: 1828
        y: 300
      positionAbsolute:
        x: 1828
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1771991226336'
          - result
        desc: Invoking large language models to answer questions or process natural
          language
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 30
        model:
          completion_params:
            temperature: 0.1
            top_p: 1
          mode: chat
          name: gpt-oss:20b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: system_prompt
          role: system
          text: '你是一位專業的 TSC 交通管理專家。


            【領域術語定義】

            - TSC（Transfer System Controller）：交通管理控制系統，負責廠區內無人搬運車輛的行駛秩序、路徑規劃與通行權管理。

            - 「TSC 交管」即指由 TSC 系統執行的交通管制流程。

            - 通行權：車輛進入特定路段/區域的系統授權許可。

            - 待命區：用於暫時停放車輛、不阻塞主動線的緩衝區域。

            - 關鍵區域：同一時間只允許一台車進入的路段（如電梯、門口、交叉口）。


            請將以下 <context></context> XML 標籤內的內容視為你學到的知識：


            <context>

            {{#context#}}

            </context>


            當你回答使用者時：

            1. 【最嚴格規定】如果 <context></context> 標籤內為空，你必須「只能」回答：「目前知識庫中找不到相關資料，請換個關鍵字再試試。」，絕對禁止產生任何目錄、解釋或延伸內容。

            2. 如果你不知道答案，請直接表達你不知道，不要編造資訊。

            3. 如果你不確定答案，請要求使用者進一步澄清。

            4. 避免在回答中提到你是從提供的上下文中獲得資訊。

            5. 請根據使用者提問的語言進行回答。

            6. 保持專業且禮貌的語氣。

            7. 僅使用知識庫內容回答，不要自己提供額外資訊！ '
        - id: user_msg
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 147
      id: '1711528917469'
      position:
        x: 2135
        y: 200
      positionAbsolute:
        x: 2135
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '很抱歉，目前知識庫中**找不到**與您問題相關的資料。

          請嘗試：

          - 換個關鍵字重新提問

          - 確認問題是否屬於 TSC 交管相關範疇

          - 如需確認知識庫是否包含該主題，請聯繫管理員'
        desc: 知識庫無檢索結果時直接回覆，不呼叫 LLM，防止幻覺
        selected: false
        title: 找不到資料（直接回覆）
        type: answer
        variables: []
      height: 207
      id: '9001000000002'
      position:
        x: 2223.3661210668056
        y: -82.59568975885642
      positionAbsolute:
        x: 2223.3661210668056
        y: -82.59568975885642
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1774096625892.username#}}


          {{#1711528917469.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 121
      id: '1711528919501'
      position:
        x: 2442
        y: 200
      positionAbsolute:
        x: 2442
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(query: str) -> dict:\n    try:\n        obj\
          \ = json.loads(query)\n        if obj.get(\"type\") == \"login\":\n    \
          \        data = obj.get(\"data\", {})\n            return {\n          \
          \      \"user_id\": data.get(\"user_id\", \"\"),\n                \"username\"\
          : data.get(\"username\", \"\"),\n                \"role\": data.get(\"role\"\
          , \"\"),\n                \"department\": data.get(\"department\", \"\"\
          ),\n                \"user\": data.get(\"user\", \"\"),\n              \
          \  \"is_login\": \"True\"\n            }\n    except Exception as e:\n \
          \       pass\n\n    return {\n        \"user_id\": \"\",\n        \"username\"\
          : \"\",\n        \"role\": \"\",\n        \"department\": \"\",\n      \
          \  \"is_login\": \"False\"\n    }"
        code_language: python3
        outputs:
          department:
            children: null
            type: string
          is_login:
            children: null
            type: string
          role:
            children: null
            type: string
          user:
            children: null
            type: string
          user_id:
            children: null
            type: string
          username:
            children: null
            type: string
        selected: false
        title: 解析登入資訊
        type: code
        variables:
        - value_selector:
          - '1711528914102'
          - query
          value_type: string
          variable: query
      height: 51
      id: '1774096625892'
      position:
        x: 29.81414177487335
        y: 401.8233764908629
      positionAbsolute:
        x: 29.81414177487335
        y: 401.8233764908629
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(user_id: str, username: str, role: str, department:\
          \ str, is_login: str) -> dict:\n    data = {\n        \"session_user_id\"\
          : user_id,\n        \"session_username\": username,\n        \"session_role\"\
          : role,\n        \"session_department\": department,\n        \"is_login\"\
          : is_login\n    }\n    return {\n        \"result\": json.dumps(data)\n\
          \    }"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: true
        title: Save to Session variables
        type: code
        variables:
        - value_selector:
          - '1774096625892'
          - user_id
          value_type: string
          variable: user_id
        - value_selector:
          - '1774096625892'
          - username
          value_type: string
          variable: username
        - value_selector:
          - '1774096625892'
          - role
          value_type: string
          variable: role
        - value_selector:
          - '1774096625892'
          - department
          value_type: string
          variable: department
        - value_selector:
          - '1774096625892'
          - is_login
          value_type: string
          variable: is_login
      height: 51
      id: '1774096667339'
      position:
        x: 424.56645045387074
        y: 469.70562748477147
      positionAbsolute:
        x: 424.56645045387074
        y: 469.70562748477147
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: admin
        desc: ''
        height: 161
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"{","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"\"type\":
          \"login\",","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"\"data\":
          {","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"\"user_id\":
          \"A123\",","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"\"username\":
          \"porter\",","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"\"user\":
          \"porter\",","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"\"role\":
          \"admin\",","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"\"department\":
          \"IT\",","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"\"computer_name\":
          \"PC-001\"","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"}","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"}","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 358
      height: 161
      id: '1774096892500'
      position:
        x: -177.25432731757775
        y: -82.59568975885642
      positionAbsolute:
        x: -177.25432731757775
        y: -82.59568975885642
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 358
    viewport:
      x: -196.31468018112128
      y: 78.79868350090442
      zoom: 0.7071067811865475
  rag_pipeline_variables: []
