DSL/tsc 機器人(自動追蹤).yml
app:
  description: 'TSC 交通管理專家問答機器人（知識庫檢索+術語定義 ）

    Au, 王俊,沈佳楓,韓鄒, 张俊贤, 齊宏洋,Mike V0.2'
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: tsc 機器人(自動追蹤)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.1.2@fcf107badccaf57948634ad2c557d393c3894138d83f4eb3f959e9a1d3a86512
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: '歡迎使用 TSC 交管問答機器人！

      我可以回答關於廠區交管邏輯、堵車處理、會車衝突等問題。

      感謝:Au, 王俊,沈佳楓,韓鄒, 张俊贤, 齊宏洋,Mike 資料整理!


      📌 範例問題：

      - 什麼是 TSC 交管？

      - 繞路的前提是什麼？

      - 如果前車故障不動，堵車能解除嗎？

      - 兩台車要同時進電梯怎麼辦？'
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 什麼是 TSC 交管？
    - 繞路的前提是什麼？
    - 如果前車故障不動，堵車能解除嗎？
    - 兩台車要同時進電梯怎麼辦？
    - 避讓點的選擇條件有哪些？
    - Group 的目的為何？
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1711528914102-source-9002000000001-target
      source: '1711528914102'
      sourceHandle: source
      target: '9002000000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 9002000000001-source-9002000000002-target
      source: '9002000000001'
      sourceHandle: source
      target: '9002000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 9002000000002-source-true-9002000000003-target
      source: '9002000000002'
      sourceHandle: 'true'
      target: '9002000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 9002000000002-source-false-1771991226336-target
      source: '9002000000002'
      sourceHandle: 'false'
      target: '1771991226336'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: if-else
      id: 1771991226336-source-9001000000001-target
      source: '1771991226336'
      sourceHandle: source
      target: '9001000000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 9001000000001-source-true-9001000000002-target
      source: '9001000000001'
      sourceHandle: 'true'
      target: '9001000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 9001000000001-source-false-1711528917469-target
      source: '9001000000001'
      sourceHandle: 'false'
      target: '1711528917469'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1711528917469-source-1711528919501-target
      source: '1711528917469'
      sourceHandle: source
      target: '1711528919501'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 72
      id: '1711528914102'
      position:
        x: 0
        y: 300
      positionAbsolute:
        x: 0
        y: 300
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 判斷使用者是否詢問程式碼相關問題（如語法、debug、程式邏輯等）
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 0
        model:
          completion_params:
            temperature: 0
            top_p: 1
          mode: chat
          name: gpt-oss:20b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: code_check_system
          role: system
          text: '你是一個問題分類器，你的唯一任務是判斷使用者的問題是否屬於「程式碼問題」。

            「程式碼問題」的定義：User提及程式碼撰寫、python的問題。

            判斷規則： - 如果使用者的問題屬於「程式碼問題」，你只能回答：YES - 如果使用者的問題不屬於「程式碼問題」，你只能回答：NO - 不需要任何解釋，只回答
            YES 或 NO，不得有其他文字。'
        - id: code_check_user
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: 判斷是否為程式碼問題
        type: llm
        variables: []
        vision:
          enabled: false
      height: 131
      id: '9002000000001'
      position:
        x: 307
        y: 300
      positionAbsolute:
        x: 307
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: cond-code-check
            value: 'YES'
            variable_selector:
            - '9002000000001'
            - text
          id: 'true'
          logical_operator: and
        desc: 判斷分類 LLM 回傳是否為 YES（程式碼問題）：YES → 拒絕回覆，NO → 繼續知識庫檢索
        selected: false
        title: 是否為程式碼問題？
        type: if-else
      height: 183
      id: '9002000000002'
      position:
        x: 614
        y: 300
      positionAbsolute:
        x: 614
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '感謝您的提問！🙏

          目前本機器人**僅針對 TSC 路權與交管相關問題**提供解答，暫不支援程式碼問題的回覆。


          📌 **本機器人可以協助您解答：**

          - TSC 交管邏輯與流程

          - 通行權、待命區、關鍵區域的運作方式

          - 堵車、會車、繞路等情境的處理方式


          💡 **程式碼問答機器人**正在規劃開發中，敬請期待！

          如有其他交管相關問題，歡迎繼續提問 😊'
        desc: 使用者詢問程式碼問題時，直接拒絕並說明範疇
        selected: false
        title: 程式碼問題拒絕回覆
        type: answer
        variables: []
      height: 287
      id: '9002000000003'
      position:
        x: 920
        y: 0
      positionAbsolute:
        x: 920
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 35LnBEYnzdCxlupI5jtcGFuGgSazocuLGK85UM+RjO+fNc/WeKIFCL3z2SPRixav
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: 0.43
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: qwen3-embedding-4b-q4_k_m:latest
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 檢索_tsc_交管資料
        type: knowledge-retrieval
      height: 89
      id: '1771991226336'
      position:
        x: 920
        y: 300
      positionAbsolute:
        x: 920
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: cond-result-empty
            value: ''
            variable_selector:
            - '1771991226336'
            - result
          id: 'true'
          logical_operator: and
        desc: 判斷知識庫檢索結果是否為空：空 → 直接回覆找不到，不為空 → 進 LLM
        selected: false
        title: 檢索結果是否為空？
        type: if-else
      height: 167
      id: '9001000000001'
      position:
        x: 1228
        y: 300
      positionAbsolute:
        x: 1228
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1771991226336'
          - result
        desc: Invoking large language models to answer questions or process natural
          language
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 30
        model:
          completion_params:
            temperature: 0.1
            top_p: 1
          mode: chat
          name: gpt-oss:20b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: system_prompt
          role: system
          text: '你是一位專業的 TSC 交通管理專家。


            【領域術語定義】

            - TSC（Transfer System Controller）：交通管理控制系統，負責廠區內無人搬運車輛的行駛秩序、路徑規劃與通行權管理。

            - 「TSC 交管」即指由 TSC 系統執行的交通管制流程。

            - 通行權：車輛進入特定路段/區域的系統授權許可。

            - 待命區：用於暫時停放車輛、不阻塞主動線的緩衝區域。

            - 關鍵區域：同一時間只允許一台車進入的路段（如電梯、門口、交叉口）。


            請將以下 <context></context> XML 標籤內的內容視為你學到的知識：


            <context>

            {{#context#}}

            </context>


            當你回答使用者時：

            1. 【最嚴格規定】如果 <context></context> 標籤內為空，你必須「只能」回答：「目前知識庫中找不到相關資料，請換個關鍵字再試試。」，絕對禁止產生任何目錄、解釋或延伸內容。

            2. 如果你不知道答案，請直接表達你不知道，不要編造資訊。

            3. 如果你不確定答案，請要求使用者進一步澄清。

            4. 避免在回答中提到你是從提供的上下文中獲得資訊。

            5. 請根據使用者提問的語言進行回答。

            6. 保持專業且禮貌的語氣。

            7. 僅使用知識庫內容回答，不要自己提供額外資訊！ '
        - id: user_msg
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 147
      id: '1711528917469'
      position:
        x: 1535
        y: 200
      positionAbsolute:
        x: 1535
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '很抱歉，目前知識庫中**找不到**與您問題相關的資料。

          請嘗試：

          - 換個關鍵字重新提問

          - 確認問題是否屬於 TSC 交管相關範疇

          - 如需確認知識庫是否包含該主題，請聯繫管理員'
        desc: 知識庫無檢索結果時直接回覆，不呼叫 LLM，防止幻覺
        selected: false
        title: 找不到資料（直接回覆）
        type: answer
        variables: []
      height: 207
      id: '9001000000002'
      position:
        x: 1625.5096679918781
        y: 476.8700576850888
      positionAbsolute:
        x: 1625.5096679918781
        y: 476.8700576850888
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1711528917469.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 102
      id: '1711528919501'
      position:
        x: 1842
        y: 200
      positionAbsolute:
        x: 1842
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -572.0506114691925
      y: 155.5161979221766
      zoom: 0.7071067811865475
  rag_pipeline_variables: []
