DSL/聯絡人查詢機器人 (1).yml
app:
  description: 聯絡人查詢機器人，可依帳號 (UserID)、微信帳號 (WeChat) 或姓名等關鍵字查詢聯絡資訊。 V0.1
  icon: 🤖
  icon_background: '#EFF1F5'
  mode: advanced-chat
  name: 聯絡人查詢機器人
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.1.2@fcf107badccaf57948634ad2c557d393c3894138d83f4eb3f959e9a1d3a86512
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 1
    opening_statement: '您好！我是聯絡人查詢機器人 📋


      您可以這樣問我：

      - **查帳號**：「A123 的連絡資訊是什麼？」

      - **查 WeChat**：「wechat_a123 是誰？」

      - **模糊搜尋**：「幫我找姓名含 UserB 的聯絡人」'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - A123 的連絡資訊是什麼？
    - wechat_b123 是哪個帳號？
    - 幫我找 B123 的電話與 Email
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: edge-start-to-extract
      source: start
      sourceHandle: source
      target: llm_extract
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: edge-extract-to-clean
      source: llm_extract
      sourceHandle: source
      target: code_clean
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: code
        targetType: http-request
      id: edge-clean-to-http
      source: code_clean
      sourceHandle: source
      target: http_query
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: if-else
      id: edge-http-to-ifelse
      source: http_query
      sourceHandle: source
      target: check_result
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: edge-ifelse-true-llm
      source: check_result
      sourceHandle: 'true'
      target: llm_answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: edge-ifelse-false-notfound
      source: check_result
      sourceHandle: 'false'
      target: answer_not_found
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: edge-llm-to-output
      source: llm_answer
      sourceHandle: source
      target: answer_output
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: 使用者輸入問題
        selected: false
        title: 開始
        type: start
        variables: []
      height: 101
      id: start
      position:
        x: 30
        y: 240
      positionAbsolute:
        x: 30
        y: 240
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: 分析使用者問題，萃取搜尋類型與關鍵字，輸出 API 查詢參數
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gpt-oss:20b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: sys-extract-01
          role: system
          text: |
            你是一個聯絡人查詢助手，負責將使用者問題解析成 API 查詢參數字串。

            規則：
            1. 僅提取核心的 ID、數字或名稱。
            2. 禁止輸出「分機、是誰、聯絡、請找」等噪音文字。
            3. 若是帳號 (如 A123, B123)：輸出 userid=A123
            4. 若是 WeChat (如 wechat_xxx)：輸出 wechat=wechat_a123
            5. 其他情況 (如問 101, 某姓名)：輸出 q=核心關鍵字

            範例：
            - 「分機 101 是誰」 → q=101
            - 「A123 的聯絡方式」 → userid=A123
            - 「wechat_a123 是誰」 → wechat=wechat_a123
            - 「幫我找 UserB 的分機」 → q=UserB

            只輸出參數字串，不可包含任何解釋。
        - id: usr-extract-01
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: 意圖萃取 (輸出 API 參數)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: llm_extract
      position:
        x: 388
        y: 195
      positionAbsolute:
        x: 388
        y: 195
      selected: false
      type: custom
      width: 242
    - data:
        code: "import re\ndef main(llm_text: str) -> dict:\n    # 1. \u5f37\u6548\u6e05\u9664 <think>\n    text = re.sub(r'<think>[\\s\\S]*?<\\/think>', '', llm_text)\n    # 2. \u5fb9\u5e95\u53bb\u9664\u63db\u884c\u3001\u591a\u9918\u7a7a\u683c\u3001\u548c\u5e38\u898b\u633a\u8aa4\u5b57\n    text = text.replace('\\n', '').replace('\\r', '').replace(' ', '').strip()\n    # \u904e\u6ffe\u641c\u5c0b\u96dc\u8a0a\n    for noise in ['\u5206\u6a5f', '\u662f\u8ab0', '\u806f\u7d61', '\u8acb\u627e', '\u7528\u6236', 'UserID=', 'userid=']:\n        text = text.replace(noise, '')\n    \n    # 3. \u62c6\u5206 Key-Value\n    sk, sv = 'q', text\n    if '=' in text:\n        parts = text.split('=', 1)\n        sk, sv = parts[0].strip(), parts[1].strip()\n    \n    return {'search_key': sk, 'search_value': sv}\n"
        code_language: python3
        desc: 清洗 LLM 推理輸出，去除 <think> 標籤與換行符
        outputs:
          search_key:
            children: null
            type: string
          search_value:
            children: null
            type: string
        selected: false
        title: 清洗 API 參數
        type: code
        variables:
        - value_selector:
          - llm_extract
          - text
          variable: llm_text
      height: 102
      id: code_clean
      position:
        x: 680
        y: 195
      positionAbsolute:
        x: 680
        y: 195
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: ''
          type: none
        desc: 呼叫 login-app API 查詢使用者聯絡資訊https://docs.dify.ai/en/use-dify/nodes/http-request
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_on:
          - 429
          - 500
        selected: true
        ssl_verify: true
        timeout:
          connect: 10
          max_execution_time: 30
          read: 20
        title: 查詢使用者資料庫
        type: http-request
        url: http://host.docker.internal:5050/api/v1/user-query?{{#code_clean.search_key#}}={{#code_clean.search_value#}}
        variables: []
      height: 198
      id: http_query
      position:
        x: 648
        y: 377
      positionAbsolute:
        x: 648
        y: 377
      selected: true
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '>'
            value: '0'
            varType: number
            variable_selector:
            - http_query
            - status_code
          id: 'true'
          logical_operator: and
        desc: 判斷 HTTP 請求是否成功 (status_code > 0 表有回應)
        selected: false
        title: 是否查詢成功？
        type: if-else
      height: 168
      id: check_result
      position:
        x: 920
        y: 195
      positionAbsolute:
        x: 920
        y: 195
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 將 JSON 資料整理為繁體中文自然語言回答
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gpt-oss:20b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: sys-answer-01
          role: system
          text: "你是一個友善的聯絡人查詢助手。\n請根據以下 JSON 資料，用繁體中文以清晰易讀的格式回答使用者問題。\n\n格式要求：\n-\
            \ count 為 0 時，回覆「查無此人，請確認輸入是否正確」\n- count > 0 時，逐一列出每個人的資訊：\n  - 帳號 (userid)\
            \ 與姓名 (username)\n  - \U0001F4DE 電話：phone（若有分機 ext，顯示為 phone #ext）\n \
            \ - ✉️ Email\n  - \U0001F4AC WeChat：wechat\n  - \U0001F4DD 備註：remark\n\
            \  - 若 is_active = 0，請加上「⚠️ 此帳號已停用」\n- 空白欄位不顯示\n"
        - id: usr-answer-01
          role: user
          text: '使用者問題：{{#sys.query#}}


            API 回傳結果：

            {{#http_query.body#}}

            '
        selected: false
        title: 生成回答
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: llm_answer
      position:
        x: 1220
        y: 120
      positionAbsolute:
        x: 1220
        y: 120
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#llm_answer.text#}}'
        desc: 輸出自然語言查詢結果
        selected: false
        title: 回答
        type: answer
      height: 131
      id: answer_output
      position:
        x: 1520
        y: 120
      positionAbsolute:
        x: 1520
        y: 120
      type: custom
      width: 242
    - data:
        answer: '抱歉，查詢過程發生問題，無法取得資料。😕


          請確認：

          - 後端服務是否正常運作

          - 輸入的帳號或 WeChat 是否正確

          '
        desc: API 請求失敗時的回覆
        selected: false
        title: 查詢失敗
        type: answer
      height: 176
      id: answer_not_found
      position:
        x: 1220
        y: 320
      positionAbsolute:
        x: 1220
        y: 320
      type: custom
      width: 242
    viewport:
      x: -604
      y: 64
      zoom: 1
  rag_pipeline_variables: []
