DSL/Sony/Sony問答機器人.yml
app:
  description: '補習班問答機器人測試

    利用簡單文件, 讓機器人回應一班家長常問問題'
  icon: 🤖
  icon_background: '#E4FBCC'
  icon_type: emoji
  mode: advanced-chat
  name: 補習班問答機器人
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.1.2@fcf107badccaf57948634ad2c557d393c3894138d83f4eb3f959e9a1d3a86512
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 你好! 歡迎使用 桃花源記問題 小幫手!
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 補習班基本位置與聯絡電話
    - 課程費用與堂數
    - 現有繳費管道（現金與轉帳資訊）
    - 請假與補課的具體規範
    - 中途退費的計算邏輯
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: knowledge-retrieval
      id: 1711528914102-1711528915811
      source: '1711528914102'
      sourceHandle: source
      target: '1711528915811'
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1711528915811-1711528917469
      source: '1711528915811'
      sourceHandle: source
      target: '1711528917469'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528917469-1711528919501
      source: '1711528917469'
      sourceHandle: source
      target: '1711528919501'
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - default: 繁體中文
          label: 輸出語言 (Output Language)
          max_length: 48
          options:
          - 繁體中文
          - 簡體中文
          - 英文
          - 中英對照
          required: true
          type: select
          variable: output_language
      height: 109
      id: '1711528914102'
      position:
        x: 0
        y: 20
      positionAbsolute:
        x: 0
        y: 20
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - RMXwtIMzx9GsnsmeiIiQpQfy+U69dX7fx9zxlI3n4sQSmLpsz5DY1H1DAA3HPbLi
        desc: Allows you to query text content related to user questions from the
          Knowledge
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: null
          top_k: 2
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: qwen3-embedding-4b-q4_k_m:latest
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              frequency_penalty: 0
              max_tokens: 512
              presence_penalty: 0
              temperature: 0
              top_p: 1
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: Knowledge Retrieval
        type: knowledge-retrieval
      dragging: false
      height: 150
      id: '1711528915811'
      position:
        x: 342
        y: 0
      positionAbsolute:
        x: 342
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1711528915811'
          - result
        desc: Invoking large language models to answer questions or process natural
          language
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.1
            top_k: 1
            top_p: 0.4
          mode: chat
          name: gpt-oss:20b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: c8879ca5-2d1b-45bf-9041-1fb59579fef5
          role: system
          text: "你是一位專精於「泓語文理短期補習班」行政庶務與課程諮詢的親切服務助理。\n請將以下 <context></context> XML\
            \ 標籤內的內容視為你唯一的知識來源。\n\n<context>\n{{#context#}}\n</context>\n\n當你回答使用者時，請遵循以下原則：\n\
            1. 專業解答：請生動且深入地解釋補習班的課程特色、報名細節、收費標準以及各項行政規定。\n2. 忠於資訊：如果不清楚答案或提供的資料未提及，請直接表達不知道，絕對不要編造不存在的優惠、開課日期或行政情節。\n\
            3. 隱藏來源：請自然地回答，避免在回答中提及「根據提供的手冊」或「上下文顯示」等字眼。\n4. 關懷指引：當使用者提問較簡短時（例如只問「請假」或「費用」），除了給予直接解答，可以適度補充相關的注意事項或關聯規定（如「補課期限」或「應退費用的計算方式」），展現主動服務的溫度。\n\
            5. 語氣與語言設定：\n   - 請根據使用者選擇的語言 {{#1711528914102.output_language#}} 進行回答。\n\
            \   - 若選擇「中英對照」，請先顯示中文內容，隨後緊接顯示英文對應內容。\n   - 格式要求：請使用 HTML 標籤為中英文區分顏色。例如：英文部分請使用\
            \ `<font color=\"#3a86ff\">` 藍色字體，中文保持預設顏色。\n   - 保持體貼、專業且具有親和力的服務導覽語氣。\n\
            \   - 真人助理的回答口氣如下，請盡量學習甚至模仿口吻如下\n好的，我們會轉達任課老師，謝謝您 \n\n您好 協同直升是2/25週三6：20開課喔\n\
            \n上次有問Alice媽媽，她說科展就忙至這週，所以有時間就會補課 因為John週六早正課時間較可以，所以，我們仍照正課時間上課喔，謝謝Kenny媽媽\
            \ \n\n抱歉， 因為是個人請假，我們有提供補課服務，若小孩無法來補課，也無法退費喔\n\n好的，有複習的考卷喔\n\n可以過來喔\n\n\
            轉帳完麻煩回傳一下喔\n"
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 148
      id: '1711528917469'
      position:
        x: 684
        y: 1
      positionAbsolute:
        x: 684
        y: 1
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1711528917469.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 102
      id: '1711528919501'
      position:
        x: 1026
        y: 24
      positionAbsolute:
        x: 1026
        y: 24
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: admin
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"測試知識文件,
          未來需補充完整","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1774335446208'
      position:
        x: 348.5714285714286
        y: 251.4285714285714
      positionAbsolute:
        x: 348.5714285714286
        y: 251.4285714285714
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: admin
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"提示語可以依照需求作修正","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1774335493846'
      position:
        x: 695.7142857142857
        y: 244.2857142857143
      positionAbsolute:
        x: 695.7142857142857
        y: 244.2857142857143
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    viewport:
      x: 174
      y: 145
      zoom: 0.7
  rag_pipeline_variables: []
