DSL/DB/Text2SQL.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Text2SQL
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.1.2@fcf107badccaf57948634ad2c557d393c3894138d83f4eb3f959e9a1d3a86512
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: "您好！我是您的 **Northwind 2.0 數據分析助手**。\n\n我可以協助您查詢「北風貿易公司」的各項營運數據，包含：\n\
      *   📦 **庫存管理**：產品存量、單價與分類資訊。\n*   👥 **客戶與供應商**：各個城市（如 Miami、New York）的合作夥伴概況。\n*   📑 **銷售統計**：查詢最近訂單、各員工銷售筆數或業績表現。\n\
      \n**您可以直接用自然語言問我問題，我會為您生成 SQL 並執行查詢。**"
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 請列出目前庫存低於 100 的所有產品清單。
    - 哪位員工所處理的訂單筆數最多？
    - 顯示最近 5 筆訂單的客戶公司名稱與訂單日期。
    - 目前在「倫敦 (London)」城市總共有多少位客戶？
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1774511068830-llm
      source: '1774511068830'
      sourceHandle: source
      target: llm_sql
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llm-source-code-target
      source: llm_sql
      sourceHandle: source
      target: code_cleaner
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: tool
      id: code-source-tool-target
      source: code_cleaner
      sourceHandle: source
      target: sql_tool
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: tool-source-llm-target
      source: sql_tool
      sourceHandle: source
      target: llm_summarize
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: llm-source-answer-target
      source: llm_summarize
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 開始
        type: start
        variables: []
      height: 72
      id: '1774511068830'
      position:
        x: 40
        y: 282
      positionAbsolute:
        x: 40
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gpt-oss:20b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: 096316c1-8d66-4462-b466-c80871a007d1
          role: system
          text: "# Role\n你是一位專家級 SQL 工程師，專門服務「北風資料庫 (Northwind Traders v2.0)」。\n\n\
            # Northwind 2.0 FULL Schema\n本資料庫採用 `snake_case` 命名法：\n\n## 核心業務表\n- **customers**:\
            \ id, company, last_name, first_name, email_address, job_title, business_phone,\
            \ city, country_region\n- **employees**: id, last_name, first_name, email_address,\
            \ job_title\n- **products**: id, product_code, product_name, category,\
            \ standard_cost, list_price, quantity_per_unit, discontinued\n- **orders**:\
            \ id, employee_id, customer_id, order_date, shipped_date, shipper_id,\
            \ shipping_fee, status_id\n- **order_details**: id, order_id, product_id,\
            \ quantity, unit_price, discount, status_id\n\n## 庫存與供需\n- **inventory_transactions**:\
            \ id, transaction_type, transaction_created_date, product_id, quantity,\
            \ customer_order_id, purchase_order_id\n- **purchase_orders**: id, supplier_id,\
            \ submitted_date, status_id\n- **suppliers**: id, company, last_name,\
            \ first_name, city, country_region\n\n## 狀態與輔助\n- **orders_status**:\
            \ id, status_name\n- **shippers**: id, company, phone\n\n# CRITICAL OUTPUT\
            \ RULES\n1. 直接輸出 SQL。\n2. 禁止 Markdown 標籤與前言說明。\n\n**整理人：** Antigravity AI\
            \ & Porter"
        selected: false
        title: 1.產生SQL
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_sql
      position:
        x: 320
        y: 282
      positionAbsolute:
        x: 320
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(llm_text: str) -> dict:\n    think_end = llm_text.rfind('</think>')\n\
          \    text = llm_text[think_end + 8:].strip() if think_end != -1 else llm_text.strip()\n\
          \    if '```' in text:\n        parts = text.split('```')\n        if len(parts)\
          \ > 1:\n            block = parts[1].strip()\n            if block.lower().startswith('sql'):\n\
          \                block = block[3:].strip()\n            text = block\n \
          \   keywords = ['SELECT', 'WITH', 'UPDATE', 'DELETE', 'INSERT', 'SHOW',\
          \ 'DESCRIBE']\n    text_upper = text.upper()\n    earliest = len(text)\n\
          \    for kw in keywords:\n        pos = text_upper.find(kw)\n        if\
          \ pos != -1 and pos < earliest:\n            earliest = pos\n    sql = text[earliest:].strip()\
          \ if earliest < len(text) else text.strip()\n    return {'result': sql if\
          \ sql else '/* NO SQL */'}\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 2.清理SQL
        type: code
        variables:
        - value_selector:
          - llm_sql
          - text
          value_type: string
          variable: llm_text
      height: 51
      id: code_cleaner
      position:
        x: 600
        y: 282
      positionAbsolute:
        x: 600
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        provider_id: junjiem/db_query/db_query
        provider_name: junjiem/db_query/db_query
        provider_type: builtin
        selected: false
        title: 3.執行SQL
        tool_configurations:
          db_host: db
          db_name: northwind
          db_password: gsi5613686#
          db_port: '3306'
          db_properties: no_datetime_conversion=true
          db_type: mysql
          db_username: root
          output_format: markdown
          query_sql:
            type: variable
            value:
            - code_cleaner
            - result
        tool_label: SQL Query
        tool_name: sql_query
        type: tool
      height: 87
      id: sql_tool
      position:
        x: 880
        y: 282
      positionAbsolute:
        x: 880
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - sql_tool
          - text
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gpt-oss:20b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: summary
          role: system
          text: "你是一位資料庫數據分析助手。\n\n根據以下資料庫查詢結果（Context），回答使用者的問題：{{#sys.query#}}。\n\n\
            # 規則\n1. 如果結果為空、全為 0 或查無內容，請明確回答：「目前條件查無相關資料。」\n2. 如果有資料，請用自然語言總結。如果是多筆資料，請用表格呈現。\n\
            3. 使用繁體中文。"
        selected: false
        title: 4.總結回答
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_summarize
      position:
        x: 1160
        y: 282
      positionAbsolute:
        x: 1160
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm_summarize.text#}}'
        selected: false
        title: 直接回覆
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 1440
        y: 282
      positionAbsolute:
        x: 1440
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -200
      y: 47
      zoom: 0.8
  rag_pipeline_variables: []
